@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .btn{
        @apply bg-pink-800 text-white py-2 px-6
        font-semibold rounded-md hover:scale-105 duration-100
        shadow-xl
    }
}
@layer utilities{
    .scr::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgb(171, 0, 69);
    
    }
    .scr::-webkit-scrollbar{
        width: 4px;
    }
    .scr::-webkit-scrollbar-track{
        background: rgb(206, 206, 206);
    }
}